
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>GET_LETTER</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/4f1c9d79dd.js" crossorigin="anonymous"></script>
  </head>
  
  <body class="bg-light">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="#">G_L</a>
      <h3 class=" title">GET_LETTER</h3>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">JKUAT</a>
          </li>   
        </ul>
      </div>
    </nav>
    <section class="board">
    <header>
      <em class="icon"></em>
      <h3><%= NAME%></h3>
    </header>
    <main class="row">
      <aside class="col-md-6">
        <div class="Aform">
          
        </div>

      </aside>
      <aside class="col-md-6">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat placeat assumenda ad fugit aliquam consectetur exercitationem porro dicta sint quisquam.</p>
        <button class="btn btn-sm btn-outline-light">Request</button>
        <button class="btn btn-sm btn-outline-light" disabled>pending..</button>
        <button class="btn btn-sm btn-outline-light">Requested</button>
      
        
      </aside>
    </main>
      

    </section>
    <div class="menu">
      <ul>
          <li><a class="item" href="">Home</a></li>
          <li><a class="item" href="#">E-LOG</a></li>
          <li><a class="item" href="#">FAQ</a></li>
          <li><a class="item" href="/">LOGOUT</a></li>
      </ul>
      </div>



    <script src="/javascripts/script.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>