
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/_head') %>
    <title>Landing page</title>

<style type="text/css">

    .icon{
      position: relative;
      left: 14em;
      z-index: 500;
      transition: 300ms;
    }

    .menu{
        width:0em;
        transition: 350ms;
    }

    .menu.active{
      visibility: visible;
      width: 15.62em;
    }

    .section{
      position: relative;
      width: 50%;
    }

    @media screen and (max-width: 960px) {

      .icon{
        left: 9.1em;
      }
      .menu.active{
        width: 10.62em ;
      }
    }

    @media screen and (max-width: 840px) {
      /* .section{
        width: 100%;
      } */
    }

</style>

  </head>
  
<body style="background-color: #f8f8f9;">
  <nav class="navbar navbar-expand-sm navbar-dark green darken-4">
    <a class="navbar-brand" href="#"><strong>G-L</strong></a>
      <a class="text-light" href="#"><strong>GET_LETTER</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-6"
      aria-controls="navbarSupportedContent-6" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent-6">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-6" data-toggle="dropdown" aria-haspopup="false"
            aria-expanded="false">Jaqueline Neemo</a>
          <div class="dropdown-menu dropdown-secondary" aria-labelledby="navbarDropdownMenuLink-6">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="/dashboard/logout">Logout</a> 
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">JKUAT</a>
        </li>
      </ul>
    </div>
  </nav>

  </div>
    <div class="menu active">
      <ul>
          <li><a class="item text-light" href="/">Attachment Letter</a></li>
          <li><a class="item" href="/dashboard/e-logbook">E-Logbook</a></li>
          <li><a class="item" href="/dashboard/dForm">Submit</a></li>
      </ul>
    </div>
      <em class="icon text-white"></em>

      <section class="section container">
        <h1 class="text-center">Lorem, ipsum dolor.</h1>
        <p class="text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam quibusdam impedit quidem, fuga vel magni dolores placeat consequuntur nostrum eum nulla esse iure, deleniti nobis laborum adipisci laudantium. Aliquam, magnam?</p>
      </section>

<footer> <%- include('./partials/_foot') %> </footer>
</body>
</html> 