<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pdfTemplate</title>
    <link rel="stylesheet" href="../../public/stylesheets/style.css">
</head>
<body>
    <h3>{{FIRSTNAME}}</h3><h3>{{LASTNAME}}</h3><h3> {{PROGRAMME}}</h3><h3>{{EMAIL}}</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus corrupti beatae in architecto. Eum, ducimus corrupti. Dolores est natus numquam.</p>

</body>
</html>