/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");
.bgImg {
  background-image: url("../images/books.jpg");
  object-fit: cover;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 75%;
  height: 100%;
  left: 50%;
  transform: skew(15deg) translateX(-50%);
  background: linear-gradient(312deg, #18993f 30%, #b0cc82 70%);
  opacity: 0.7;
  mix-blend-mode: darken;
  transition: 200ms;
}

.whole {
  position: relative;
  width: 560px;
  margin: 70px auto 70px auto;
  height: 386px;
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  border-radius: 10px;
  z-index: 400;

  background-color: rgb(255, 255, 255);
  background: linear-gradient(
    312deg,
    rgba(255, 255, 255, 0.7) -9%,
    rgb(139, 179, 147) 30%,
    rgba(9, 121, 44, 0.9) 77%
  );
  transition: 350ms;
}
@media screen and (max-width: 576px) {
  .whole {
    width: 400px;
  }
  .display-4 {
    font-size: 2.5rem;
    text-align: center;
  }
}
@media screen and (max-width: 980px) {
  .overlay {
    transform: skew(0deg) translateX(0%);
    left: 0%;
    width: 100%;
  }
}
label,
input {
  font-family: "IBM Plex Mono", sans-serif;
}

nav {
  z-index: 1000;
}
.header1 {
  position: relative;
  top: -39px;
  left: 0;
  display: flex;
  align-items:flex-start;
  justify-content: left;
  color: #ddd;
  z-index: 500;
}
.header2 {
  position: relative;
  top: 56px;
  left: 0;
  margin-bottom: 70px;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  color: #ddd;
  z-index: 500;
}
header h3 {
  padding-top: 4px;
}
.board {
  position: relative;
  top: 0px;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  padding: 40px 80px 0 80px;
  background-color: #555;
  color: #eee;
  z-index: 200;
  transition: 0.5s;
}
.board2 {
  position: relative;
  top: 0px;
  left: 0;
  bottom: 0;
  right: 0;
  /* padding: 50px; */
  color: #eee;
  background-color: #555;
  z-index: 200;
  transition: 0.5s;
}
.board.active {
  left: 200px;
}
.board2.active {
  left: 200px;
}

.icon::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0c9";
  cursor: pointer;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.icon.active::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00d";
}
.back::before{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f104";
  cursor: pointer;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.noletter::before{
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  content: "\f128";
  cursor: pointer;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  
}

.title {
  letter-spacing: 2px;
  transition: 200ms;
  cursor: pointer;
  color: rgb(8, 167, 8);
}

.title:hover {
  letter-spacing: 3px;
}

form {
  border-color: red;
}

.menu {
  position: absolute;
  left: 0;
  top: -54px;
  bottom: 0;
  width: 200px;
  height: 110vh;
  display: flex;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  background-color: #2e7d32;
  transition: 100ms;
}
.menu.active{
  visibility: visible;
}

.menu ul li {
  list-style: none;
  margin: 15px 0 15px -30px;
}
.menu ul li a {
  font-size: 25px;
  text-decoration: none;
  color: #222222;
  transition: 0.2s;
}
.menu ul li a:hover {
  color: #eee;
}
/*------------------------------------------------------------------*/

.approve::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f14a";
  cursor: pointer;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.disApprove::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-size: 0.9em;
  content: "\f057";
  cursor: pointer;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.comment::before{
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f075";
  cursor: pointer;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.display-4{
  transition: 0.3ms all;
}